Ben_bw.png
Ben_bw_wm.png
Ben_picture.JPG
Ben_recon.png
data
Faces_expl_var.png
.ipynb_checkpoints
Iris_PCA.png
LDA_pr.png
load_iris.py
__pycache__
sign_rot.png
sign_rot_scale.png
sign_white.png
Wine_PCA.png
